@model IEnumerable<WaterOrderKP.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}

<h6>Our orders</h6>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="indexTable">
    @Html.Partial("~/Views/Partials/IndexTable.cshtml", Model)
</div>


<br/>
<br/>

@Html.Partial("~/Views/Partials/Statisctics.cshtml")