@model WaterOrderKP.Models.HomeworkModel
@{
    ViewData["Title"] = "Homework";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
     <p>
         <label for="autocomplete">Input country: </label>
            <input id="country-autocomplete">
        
            <p id="Getcapital"></p>

          
    </p> @* @Html.DisplayFor(model => model.country)*@
    @*<p><b>Capital:@Html.DisplayFor(model => model.city) </b><span id="capital"></span></p>*@
</div>
